doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/creative.css')
  body
    block content
    script(src='/js/jquery.js')
    //Bootstrap js
    script(src='/js/bootstrap.min.js')
    //Plugins
    script(src='/js/jquery.easing.min.js')
    script(src='/js/jquery.fittext.js')
    script(src='/js/wow.min.js')
    //Custom js
    script(src='/js/creative.js')


    