doctype html
html
  head
    title= title
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="//fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css")
    link(type="text/css", rel="stylesheet", href="/css/bootstrap.min.css")
    link(type="text/css", rel='stylesheet', href='/css/creative.css')
  body
    nav.navbar.navbar-default
      .container
          .navbar-header
            a.navbar-brand(href="/") Rank-o-Matic
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li 
                a(href="http://www.stephanebeland.com") by Stephane Beland		
  block content
  script(src='/js/jquery.js')
  script(src='/js/bootstrap.min.js')





    